.header-text {
    color: #56320a;
    /* color: #020202; */
    font-family: 'Homemade Apple', cursive;
    margin-top: 1.5rem;
    padding-left: 1rem;
}

/* .mobile-header-text {
    color: #56320a;
    font-family: 'Homemade Apple', cursive;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
} */

.nav-horizontal {
    list-style: none;
    padding: 1rem .5rem 1rem;
}

.nav-horizontal-item {
    display: inline-block;
    margin-right: 1.5rem;
    padding: 0;
}

.menu {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.menu a {
    color: #37a511;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem 2rem;
}

.menu a:hover {
    color: white;
    background-color: #37a511;
    transition: 1s;
    text-decoration: none;
}

.mobile-nav-button {
    font-size: 2rem;
    vertical-align: middle;
    border: none;
    background-color: #fff;
    color: #37a511;
    padding: 0 1rem 0 2rem;
}

.mobile-menu {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #F5FEEF;
    width: 250px;
    list-style: none;
    padding: 0;
    padding-left: 1rem;
}

/* large-screens */
@media screen and (min-width: 1024px) {
    .small-screen {
        display: none;
    }
    .nav-logo {
        width: 200px;
    }
    nav h3 {
        font-size: 4rem;
    }
}

/* medium-to-big screens */
@media screen and (min-width: 800px) {
    nav {
        width: 800px;
        margin: 0 auto;
    }
}
/* medium-screens */
@media screen and (min-width: 640px) and (max-width: 1023px) {
    .small-screen {
        display: none;
    }
    .nav-logo {
        width: 150px;
    }
    nav h3 {
        font-size: 3rem;
    }
}

/* small-screens */
@media screen and (max-width: 639px) {
    .medium-screen {
        display: none;
    }
    .nav-logo {
        width: 40px;
    }
}
