<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="large">
      <div class="row">
        <div class="small-9 medium-10 columns">
          <div class="title-bar-title row column">
            <span>
              <button class="menu-icon dark" type="button" data-toggle="main-nav"></button>
            </span>
            <strong class="brand-text">GreenStand</strong>
          </div> <!-- title-bar-title -->
          <div class="row column">
            <p class="mobile-header-text">Nurturing nature and social welfare from the roots up.</p>
          </div> 
        </div> <!-- small-10 -->
        <div class="small-3 medium-2 columns">
          <a routerLink="/">
            <img class="img-full-width" src="./assets/images/Hermites_large-clear.png" alt="GreenStand">
          </a>
        </div>   
      </div> <!-- row -->
    </div> <!-- title-bar -->

    <div class="row header">
      <div class="large-2 columns show-for-large">
        <a routerLink="/">
          <img class="img-full-width" src="./assets/images/Hermites_large-clear.png" alt="GreenStand">
        </a>
      </div>
      <div class="large-10 columns">
        <div class="row column show-for-large">
          <h5 class="header-text">Nurturing nature and social welfare from the roots up.</h5>
        </div>
        <nav class="row column" id="main-nav"> <!-- nav-row -->
          <ul class="dropdown vertical large-horizontal menu data-dropdown-menu">
            <li class="menu-text brand-text show-for-large">
              <h2>GreenStand</h2>
            </li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/tree-tracker">Tree Tracker</a></li>
            <li><a routerLink="/get-involved">Get Involved</a></li>
          </ul>
        </nav> <!-- nav-row --> 
      </div> <!-- header-text and nav column -->
    </div> <!-- header -->