<div class="row">
  <div class="medium-6 columns text-center"
    *ngFor="let member of teamMembers">
    <div class="card member-box">
      <div class="card-image">
        <div class="member-pic" [ngStyle]="{'background-image':'url(' + member.picture + ')'}"></div>
        <!-- <img class="member-pic" src="{{member.picture}}"> -->
      </div>
      <div class="card-section">
        <h2>{{ member.name }}</h2>
        <h5 class="brand-text">{{ member.title }}</h5>
      </div>
      <div class="card-section">
        <p>{{ member.info }}</p>
      </div>
    </div>
  </div>
</div>