.title-bar {
  background-color: white;
<<<<<<< HEAD
  margin-bottom: -2rem;
}

.img-full-width {
  width: 100%;
  height: auto;
=======
}

.logo {
  height: auto;
  width: 100%;
  /*background-image: url("/images/logo-144px.png");*/
  
>>>>>>> 662bd848b1f6f83cc89f5eeefbcd91504f66120d
}

.logo-link {
  width: 100%;
}
.brand-text {
  color: #649300;
  /*font-size: 4rem;*/
}

.header {
  margin-top: 2rem;
}

.header-text {
color: #020202;
font-family: 'Homemade Apple', cursive;
margin-top: 1.5rem;
padding-left: 1rem;
}

.mobile-header-text {
  color: #020202;
  font-family: 'Homemade Apple', cursive;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

nav {
  margin-bottom: 1rem;
}

.menu {
  padding: 0;
}

.menu a {
  color: #649300;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.menu a:hover {
  color: white;
  background-color: #649300;
  transition: 1s;
}

