.title-bar {
  background-color: white;
  margin-bottom: -2rem;
}

.img-full-width {
  width: 100%;
  height: auto;
}

.brand-text {
  color: #37a511;
  /*font-size: 4rem;*/
}

.header {
  margin-top: 2rem;
}

.header-text {
color: #020202;
font-family: 'Homemade Apple', cursive;
margin-top: 1.5rem;
padding-left: 1rem;
}

.mobile-header-text {
  color: #020202;
  font-family: 'Homemade Apple', cursive;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

nav {
  margin-bottom: 1rem;
}

.menu {
  padding: 0;
}

.menu a {
  color: #37a511;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.menu a:hover {
  color: white;
  background-color: #37a511;
  transition: 1s;
}

.green-stand-btn {
  padding: 1rem;
  color: #649300;
  border: 1px solid #37a511;
  border-radius: 3px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.green-stand-btn:hover {
  color: white;
  background-color: #37a511;
  /*background-color: #649300;*/
  transition: 1s;
}
