body {
  font-family: 'Open Sans', sans-serif;
}

.brand-text {
  color: #37a511;
  font-family: 'Kreon', serif;
  /*font-size: 4rem;*/
}

.green-stand-btn {
  padding: 1rem;
  /* color: #649300; */
  color: #37a511;
  border: 1px solid #37a511;
  border-radius: 3px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.green-stand-btn:hover {
  color: white;
  background-color: #37a511;
  /*background-color: #649300;*/
  transition: 1s;
}



