<div class="baby-tree">
    <!-- <img class="img-full-width "src="../assets/images/baby-tree.jpg" alt="GreenStand nurtures trees"> -->
    <p class="overlay-text">We believe:<br>there is a solution</p>

</div>
<div class="row">
    <div class="medium-10 medium-offset-1 small-12 columns">
        <div class="simple-panel">
            The forests are dwindling and the rains and fertile ground leave with them. <span class="brand-text"></span>. Imagine a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate. Greenstand is a stand to find a green solution to extreme poverty.
        </div>
    </div>
</div>
    <div class="row simple-panel">
    
        <div class="small-12 medium-8 columns">
            <img src="../assets/images/tree-diagram.jpg" alt="How green-stand's system works">
        </div>
        <div class="small-12 medium-4 centered columns">
            <p>The forests are dwindling and the rains and fertile ground leave with them. <span class="brand-text"></span>. Imagine a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate. Greenstand is a   stand to find a green solution to extreme poverty.</p>
        </div>   
    </div>
    <div class="row">
        <div class="medium-10 medium-offset-1 small-12 columns">
            <div class="simple-panel">
                The forests are dwindling and the rains and fertile ground leave with them. <span class="brand-text"></span>. Imagine a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate. Greenstand is a stand to find a green solution to extreme poverty.
            </div>
        </div>
    </div>
