<div class="baby-tree">
    <!-- <img class="img-full-width "src="../assets/images/baby-tree.jpg" alt="GreenStand nurtures trees"> -->
    <p class="overlay-text">there is a solution</p>
</div>

<div class="simple-panel">
    <p><span class="brand-text">Forests</span> are dwindling and the rains and fertile ground leave with them.</p>
    <p><span class="brand-text">Imagine</span> a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate.</p>
    <p> <span class="brand-text">Greenstand</span> is a stand to find a green solution to extreme poverty.</p>
</div>

<app-cycle></app-cycle>

<div class="simple-panel">
    <p><span class="brand-text">Forests</span> are dwindling and the rains and fertile ground leave with them.</p>
    <p><span class="brand-text">Imagine</span> a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate.</p>
    <p> <span class="brand-text">Greenstand</span> is a stand to find a green solution to extreme poverty.</p>
</div>
        
