<div class="baby-tree">
    <!-- <img class="img-full-width "src="../assets/images/baby-tree.jpg" alt="GreenStand nurtures trees"> -->
    <p class="overlay-text">there is a solution</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="simple-panel">
                <p><span class="brand-text">Forests</span> are dwindling and the rains and fertile ground leave with them.</p>
                <p><span class="brand-text">Imagine</span> a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate.</p>
                <p> <span class="brand-text">Greenstand</span> is a stand to find a green solution to extreme poverty.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-0">
            <img class="img-full-width" src="../assets/images/tree-diagram.jpg" alt="How green-stand's system works">
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="simple-panel">
                <p><span class="brand-text">Forests</span> are dwindling and the rains and fertile ground leave with them.</p>
                <p><span class="brand-text">Imagine</span> a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate.</p>
                <p> <span class="brand-text">Greenstand</span> is a stand to find a green solution to extreme poverty.</p>
        </div>
        </div>   
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="simple-panel">
                <p><span class="brand-text">Forests</span> are dwindling and the rains and fertile ground leave with them.</p>
                <p><span class="brand-text">Imagine</span> a way to reverse the cycle, imagine a powerful system that allows the living tree to give life to the desperate.</p>
                <p> <span class="brand-text">Greenstand</span> is a stand to find a green solution to extreme poverty.</p>
            </div>
        </div>
    </div>
</div>
